body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table thead th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

table tbody td {
    padding: 10px;
    border: 1px solid #ccc;
}

table tbody tr:nth-child(odd) {
    background-color: #eee;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}
